################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TitanImport/obj/Release/netstandard2.0
/TitanImport/bin/Debug/netstandard2.0
/TitanImport/obj
/TitanImport/bin/Release/netstandard2.0
